.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.year-button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.year-button:hover {
  background-color: #ddd;
}

.year-button.selected {
  background-color: #007bff;
  color: #fff;
}

.chart-container {
  width: 75%;
  height: 75%;
}